Django==2.2.28
djangorestframework
psycopg2-binary
gunicorn
django-heroku
whitenoise
dj-database-url
pyyaml
sqlalchemy
python-dotenv
data-wizard
django-extensions
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability