Django==4.2.27
djangorestframework
psycopg2-binary
gunicorn
django-heroku
whitenoise
dj-database-url
pyyaml
sqlalchemy
python-dotenv
data-wizard
django-extensions
sqlparse>=0.5.4 # not directly required, pinned by Snyk to avoid a vulnerability