Django==4.2.22
djangorestframework
psycopg2-binary
gunicorn
django-heroku
whitenoise
dj-database-url
pyyaml
sqlalchemy
python-dotenv
data-wizard
django-extensions
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability